<div>
    <section>
        <h2>Edit</h2>

        <form class="edit-post">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" placeholder="Title" value="{{post.title}}">
            <label for="post-content">Content</label>
            <input id="post-content" name="post-content" type="text" placeholder="Content" maxlength="1000" value="{{post.body}}">
            <button type="submit" class="btns">Edit Post</button>
        </form>

    </section>
    <section>
        <form>
            <div>
                <textarea id="comment" name="comment" placeholder="Comment" maxlength="1000"></textarea>
            </div>

            <div>
                <button type="submit" class="btns">Submit Comment</button>
            </div>
        </form>

        {{#if loggedIn}}
        {{comments post.comments}}
        {{/if}}
    </section>
</div>

<script src="/public/js/edit-post.js"></script>
<script src="/piblic/js/comment.js"></script>

{{! Path: controllers\api\comment-routes.js }}