<div class="login">
    <form class="login-form">
        <div>
            <label for="email-login">Email:</label>
            <input type="email" name="email-login" id="email-login" placeholder="Email">
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input type="password" name="password-login" id="password-login" placeholder="Password">
        </div>
        <div>
            <button type="submit" class="btns">Login</button>
        </div>
    </form>
</div>

<script src="/public/js/login.js"></script>