<div class="signup">
    <form class="signup-form">
        <div>
            <label for="username-signup">Username:</label>
            <input type="text" name="username-signup" id="username-signup" placeholder="Username">
        </div>
        <div>
            <label for="email-signup">Email:</label>
            <input type="email" name="email-signup" id="email-signup" placeholder="Email">
        </div>
        <div>
            <label for="password-signup">Password:</label>
            <input type="password" name="password-signup" id="password-signup" placeholder="Password">
        </div>
        <div>
            <button type="submit" class="btns">Signup</button>
        </div>
    </form>
</div>

<script src="/public/js/signup.js"